@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    background-color: hsl(30, 54%, 90%);
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    font-family: outfit, serif;
}
.all{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 360px;
    border-radius: 1rem;
}
img{
     padding: 15px 15px 0 15px;
    border-radius: 1.2rem;
}
h1{
    font-family: young serif;
    font-weight: 400;
    font-size: 1.1rem;
}
.content{
    padding: 10px 15px 15px 15px;
}
.under-header{
    padding-bottom: 15px;
    padding-top: .5rem;
    font-size: .5rem;
}
.one{
    display: flex;
    flex-direction: column;
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
}
li, p, th, td{
    font-size: .5rem;
    padding-left:.25rem;
}
h3{
    padding-top:.5rem;
    font-size: .7rem;
    padding-left:.5rem ; 
    color: hsl(332, 51%, 32%);
}
.Preparation-time{
    padding-top: .2rem;
    padding-bottom: .5rem;
    padding-left:1.5rem ; 
}
.Preparation{
    padding: .2rem;
}
ul li::marker{
    color: hsl(14, 45%, 36%);
}
ul .Preparation::marker{
    color:hsl(332, 51%, 32%);
}
ul .instruction-items {
    list-style-type: decimal;
}
ul .instruction-items::marker{
    font-weight: bold;
}
.two, .three{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}
.four{
    display: flex;
    flex-direction: column;
}
h2{
    font-family: young serif;
    font-weight: 400;
    font-size: 1rem;
    padding-top:.5rem;
    padding-left:.2rem ; 
    color: hsl(14, 45%, 36%);
}
ul{
    padding: .5rem;
    padding-bottom: 1rem;
    padding-left:1rem ; 
}
.ingredient-items, .instruction-items{
    padding: 0.1rem;
}
.Nutrition-table  {
    width: 100%;
    border-collapse: collapse;
}
.Nutrition-table td {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
th{
    padding: .2rem;
    padding-left: 1rem;
    font-weight: 400;
}

tr{
    border-bottom: 1px solid black;
    text-align: left;
}


@media screen and (max-width:375px) {
    body{
        min-height: 100vh;
        padding: 0;
        
    }
    .all{
        width: 100%;
        border-radius: 0;
    }
    img{
        border-radius: 0;
        padding: 0;
        max-width: 100%;
    }
    h1{
        font-size: 1.4rem;
    }
    .under-header,li, p, th, td{
        font-size: .8rem;
    }
    h2{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:415px) {
    body{
        min-height: 100vh;

        padding: 0;
        
    }
    .all{
        width: 100%;
        border-radius: 0;
    }
    img{
        border-radius: 0;
        padding: 0;
        min-width: 100%;
       
    }
    h1{
        font-size: 1.6rem;
    }
    .under-header,li, p, th, td{
        font-size: 1rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.2rem;
    }
}